@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {

    background-image: url(img/font.jpg);
    background-repeat: no-repeat;
    position: 100%;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", sans-serif, Arial;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.inner-page {
    color: #000000;
    background: #f8f3f0 url("img/layer-24-copy.png") repeat;
}

.main-nav {
    position: fixed;
    height: 72px;
    width: 1872px;
    background-color: black;
    z-index: 3;
}

.clearfix::after {
    content: "";
    display: table;

    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 15px;
    color: black;
}

.main-navigation {
    float: left;
    min-width: 504px;
    min-height: 70px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-position: 0% 10%;
}

.main-navigation .active {
    position: relative;
    border: none;
}

.main-navigation .active-z:hover {
    border: none;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 48px;
    left: 5px;
    background-color: white;
    bottom: -19px;
    height: 5px;
    border: none;
}

.main-navigation a {
    text-decoration: none;
    color: white;
    min-height: 70px;
}

.main-navigation a:hover {
    border-bottom: 2px solid gray;
}

.main-navigation img{
background-position: 50% 50%;
}

.user-block {
    float: right;
    min-height: 70px;
    padding-top: -1px;
    margin-top: 8px;
    color: white;
    margin-right: 150px;
    color: white;
}

.login {
    max-width: 140px;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    padding-left: 50px;
    position: relative;
}

.login::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 20px;
    background-image: url("img/-icon-login.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 18px;
    height: 16px;
    opacity: 0.3;
}

.login:hover::before {
   cursor: pointer;
    opacity: 1;
}

.main-navigation li {
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    display: inline-block;
    padding: 0px 40px 0px 0px;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    /* margin-left: 15px;*/
    line-height: 36px;
}
/*==================ШАПКА САЙТА==========================*/
.price-list {
    margin-top: 103px;
    margin-left: 150px;
}

.price {

    margin-bottom: 30px;
}

.breadcrumbs {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 40px;
    text-transform: uppercase;
    list-style: none;
   

}

.breadcrumbs-title .snape {
    background-image: url("img/shape-1.png");
    background-repeat: no-repeat;
    background-position: 64px;
    font-weight: 700;
}


.breadcrumbs-title li {
    position: relative;
    display: inline;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 400;
}

.breadcrumbs li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.login-checkox input[type="checkbox"]+.checbox-indikator {
    background: none;
}

.breadcrumbs li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 12px;
    height: 12px;
    background-image: url("img/shape-1.png");
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

.border{
    margin-left: 150px;
    margin-top: 60px;
    text-align: center;
}

.border h2{
    margin:0px;
    padding:0 25px;
    font-size: 48px;
line-height: 42px;
text-align: center;
position: relative;
z-index: 1;
display: inline-block;
background: white;
}

.border::after{
    content: "";
    position: relative;
    display: block;
    border-bottom: 2px solid black;
    top: -20px;
    z-index: 0;
}

.index-content-left{
    float: left;
    width: 441px;
    height: 509px;
    margin-left: 150px;
}

.index-content-rigth{
    float: right;
    width: 438px;
    height: 497px;
}

.index-content-title{
    margin-top: 73px;
    font-size: 24px;
    line-height: 30px;
    
}

.index-content-rigth table{
    width: 460px;
    height: 125px;
    border-collapse: collapse;
    border:1px solid black;
    margin-top: 34px;
    border-bottom: 1px solid black;
    margin-bottom: 136px;
}
.index-content-rigth h2{
    text-align: left;
}

.index-content-rigth td{
    border-right: 1px solid black;
    padding:8px 10px;
  border-bottom: 1px solid black;
}
.table tr {
        border-left:1px solid #E5E5E5;
        border-top:1px solid #E5E5E5;
}

.index-content-rigth .b{
text-align: center;
}

.index-content-title-us{
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 30px;
    margin-top: 70px;
}
/*================ПОДВАЛ=================*/

.footer-nav {
    background-image: url(img/layer-23.png);
    background-repeat: no-repeat;
    background-position: 10% 20px;
    width: 1872px;
    height: 206px;
    margin-top: 120px;
}

.footer-contacts {
    color: white;
    margin-bottom: 20px;
    float: left;
    font-family: 'PT Sans Narrow';

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin-top: 62px;
}

.footer-contacts a {
    color: red;
}

.footer-contacts span {
    text-decoration: underline;
}

.footer-contacts a:hover {
    border: 1px solid blue;
}

.footer-social {
    margin-bottom: 20px;
    margin-left: 100px;
    float: left;
    background: url("img/sprite.png") no-repeat center;
    text-decoration: none;
   font-family: 'PT Sans Narrow';

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 62px;
}


.footer-social a {
    color: red;
}

.footer-block:hover {
    border: 1px solid blue;
}

.footer-social p {
    margin-top: 2px;
}
.footer-creator {
    margin-top: 65px;
    color: red;
    float: right;
    text-decoration: none;
    font-family: 'PT Sans Narrow';

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin-top: 65px;
}

.footer-creator a:hover {
    border: 1px solid red;
}
.footer-block{
    width: 43px;
    height: 43px;
    background-color: black;
}
.breadrumb-er li {
    position: relative;
  margin-right: 8px;
  
    list-style: none;
}

.footer-block img{
    padding-top: 12px;
    padding-left: 10px;
}
.breadrumb-er {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
   
    text-transform: uppercase;
    list-style: none;
   
    display: inline-flex;
}